.card {
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Лёгкая тень при наведении */
}

.card img {
  width: 201px;
  height: 245px;
}

.card .details {
  margin-top: 8px;
  width: 70%;
  max-width: 70%;
}

.card .brand {
  font-size: 14px; /* Размер 24пт */
  font-weight: bold; /* Толщина шрифта bold */
  color: black; /* Цвет текста черный */
  margin: 0;
}

.card .model {
  font-size: 12px; /* Размер 20пт */
  font-weight: light; /* Толщина шрифта regular */
  color: #474747; /* Цвет текста серый */
  margin: 4px 0;
}

.card .price {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px; /* Размер 16пт */
  font-weight: regular; /* Толщина шрифта medium */
  margin: 6px 0;
}

.card-footer {
  margin: 0;
}

.cards-container {
  display: grid;
  margin: 0 auto;
  padding-top: 64px;
  max-width: fit-content;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки одинаковой ширины */
  gap: 8px; /* Отступы между карточками */

}
